.playlistsFlexBox {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.playlist {
  border: 1px solid red;
  float: left;
}

.playlistImage {
  max-height: 200px;
  max-width: 200px;
  /* height: 200px;
  width: 200px; */
  background-position: center center;
  background-size: cover;
}

.playlistImage > img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}