@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

.fontFamily {
  font-family: 'Mukta', sans-serif;
  font-weight: 500;
}

.fontFamilyBold {
  font-family: 'Mukta', sans-serif;
  font-weight: 800;
}

.fontFamilyLight {
  font-family: 'Mukta', sans-serif;
  font-weight: 300;
}

.hoverCursor:hover {
  cursor: pointer;
}

.colorGradientBackground {
  background-image: linear-gradient(rgb(46, 46, 46), rgb(17, 17, 17));
}

.lightGreyBackground {
  background-color: rgb(46, 46, 46);
}

.lightGreyFont {
  color: rgb(190, 190, 190);
}

.spotifyGreenFont {
  color: rgb(29, 137, 84);
}

.spotifyGreenBackgroundColor {
  background-color: rgb(29, 137, 84);
}

.app {
  height: 100vh;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v92/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
