.mainBody {
  float: left;
  color: white;
  width: 100%;
  height: 100%;
}

#mainContent {
  /* float: left; */
  /* margin-left: 160px; */
  width: -moz-calc(100% - 160px);
  width: -webkit-calc(100% - 160px);
  width: -o-calc(100% - 160px);
  width: calc(100% - 160px);
  /* position: relative; */
  height: 100%;
  overflow: auto;
}

#mainPage {
  display: flex;
  position: relative;
  /* height: 88%; */
  height: -moz-calc(100% - 90px);
  height: -webkit-calc(100% - 90px);
  height: -o-calc(100% - 90px);
  height: calc(100% - 90px);
  /* overflow: scroll; */
  /* height: auto; */
  /* min-height: 100%; */
  /* margin-bottom: 50px; */
  /* margin-top: 0px; */
  /* height: 100%;
  padding-bottom: 50px; */
  background-color: rgb(17, 17, 17);
}

#webPage {
  height: 100vh;
  /* overflow: hidden; */
  /* overflow-x: hidden; */
}

/* ::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
} */