.mainBody {
  position: fixed;
  color: white;
  display: block;
  width: -moz-calc(100% - 160px);
  width: -webkit-calc(100% - 160px);
  width: -o-calc(100% - 160px);
  width: calc(100% - 160px);
  height: 100%;
  background-color: rgb(17, 17, 17);
}

#mainContent {
  margin-left: 160px;
  width: 100%;
}

#mainPage {
  /* margin-bottom: 50px; */
  /* margin-top: 0px; */
  /* height: 100%;
  padding-bottom: 50px; */
}